# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\FastUser1\Desktop\Ingenieria de Software\Practica Git 3 Grup\Prac_Grup-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
